//#611818 red/orange



body {
    background: url(../img/background.png) no-repeat;
    background-size: 100vw auto; //Covers viewport width
    width: 100vw;
    height: 100vh;
    position: fixed;
}

@media (orientation: portrait) {
    body {
        background-size: auto 100vh; //Mobile Viewport
    }
}

@media (orientation: landscape) { //Fix for issue with viewport when scaled down
    body {
        background-size: auto 100vh;
        background-size: cover;
    }
}




.leftColumn {
    height: 100vh;
    background: #611818;
}

.main {
    float: left;
}

.container {
    max-width: 520px !important;
    width: 60vh !important;
}

.explore {
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: .7rem;
    font-size: 16vh;
}

.maintext {
    display: inline-block;
    margin-top: 25%;
    margin-left: -11.7%;
    font-weight: bold;
    color: #fff;
}

.details {
    margin-left: 5%;
    margin-top: -5%;
    padding-right: 50vh;
}

.details > a {
    color: #fff;
    text-decoration: none !important;
    font-weight: 400;
    margin-left: 2%;
    font-size: 2vh;
}

.details > a:hover {
    color: #fff;

}

.card {
    width: 27vw;
    top: -50vh;
    height: 65vh;
    margin-left: -80vh;
    display: inline-flex !important;
    visibility: hidden;
    -webkit-box-shadow: -2px -2px 10px 2px rgba(0,0,0,0.5); 
    box-shadow: -2px -2px 10px 2px rgba(0,0,0,0.5);
    border-radius: 0 !important;
}


.card-body {
    padding: 1vh 9vh !important;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
       }
     
       &::-webkit-scrollbar-thumb {
        background-color: rgb(97, 24, 24 / 78%);
        border-radius: 3px;
       }
}

.card-body > h1 {
    color: #611818;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 6vh;
    min-width: 20vw;
    
}

.close-card {
    display: flex;
    justify-content: flex-end;
    padding: 1vh 1vh 0 0;
}

.btn-close {
    filter: invert(10%) sepia(76%) saturate(2145%) hue-rotate(342deg) brightness(100%) contrast(94%);
    opacity: 1 !important;
}


.btn-primary {
    border-radius: 0 !important;
    background: rgb(97,24,24);
    background: linear-gradient(90deg, rgba(97,24,24,1) 21%, rgba(170,96,96,1) 97%);
    border-color: transparent !important;
    width: 20vh !important;
    display: block;
    text-align: center;
}

.social {
    float: right;
    margin-top: 85vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: -5vh;
}

.top {
    padding-bottom: 1vh;
}

.card-text {
    font-size: 1.7vh;
}

hr {
    color: rgb(97,24,24);
    background: linear-gradient(90deg, rgba(97,24,24,1) 21%, rgb(255, 255, 255) 75%);
    opacity: 1 !important;
}



.animate {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .timer {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    }

    @-webkit-keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }
      .fadeIn {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
      }